<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Futebol Amigo</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<h1>Welcome to Futebol Amigo App</h1>
<table>
    <tr>
        <th>Attribute</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Username</td>
        <td th:text="${#authentication.getName()}"></td>
    </tr>
    <tr>
        <td>Credentials</td>
        <td th:text="${#authentication.getCredentials()}"></td>
    </tr>
    <tr>
        <td>Details</td>
        <td th:text="${#authentication.getDetails()}"></td>
    </tr>
    <tr>
        <td>Authenticated User</td>
        <td th:text="${#authentication.getPrincipal()}"></td>
    </tr>
</table>
<button onclick="window.location.href='/user/userManagement'">Go to User Management</button>
<button onclick="window.location.href='/gestor/create'">Become a Manager</button>
<button onclick="window.location.href='/jogador/create'">Become a Player</button>
</body>
</html>