<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time Management</title>
    <link rel="stylesheet" th:href="@{/css/timeManagement.css}">
</head>
<body>

<h2>Update Time</h2>
<form th:action="@{/time/update}" method="post" id="updateTimeForm">
    <label for="nome">Nome:</label><br>
    <input type="text" id="nome" name="nome" required><br>
    <input type="submit" value="Update Time">
</form>

<h2>Delete Time</h2>
<form th:action="@{/time/delete}" method="post" id="deleteTimeForm">
    <label for="nome">Nome:</label><br>
    <input type="text" id="nome" name="nome" required><br>
    <input type="submit" value="Delete Time">
</form>

<h2>Add Players to Time</h2>
<form th:action="@{/time/addPlayer}" method="post" id="addPlayerForm">
    <option value="">Selecione o time</option>
    <select class="form-input" th:field="*{times}" name="time" id="time">
        <option th:each="time : ${times}" th:value="${time.nome}" th:text="${time.nome}"></option>
    </select>
    <label for="jogadores">Jogadores:</label><br>
    <select id="jogadores" name="jogadores" multiple>
        <option th:each="jogador : ${jogadores}" th:value="${jogador.cpf}" th:text="${jogador.cpf}"></option>
    </select>
    <input type="submit" value="Add Players">
</form>



<script th:src="@{/js/timeManagement.js}"></script>
</body>
</html>